<div class="clr-row" *ngIf="source">
  <div class="clr-col-12">
    <div class="card">
      <div class="card-header">
        <a href="#" (click)="copy(translation.$.id, $event)"><clr-icon shape="copy-to-clipboard"></clr-icon></a>
        {{ translation.$.id }}
      </div>

      <form clrForm *ngIf="group" [formGroup]="group" clrLayout="vertical" (submit)="submit()">
        <div class="card-block">
          <div class="card-text">
            <ng-container *ngFor="let value of source.children; let i=index">
              <app-translation-item
                [source]="value"
                [target]="target.children[i]"
                id="target-{{ i }}"
                [group]="group"
              ></app-translation-item>
            </ng-container>
            <p class="p7" *ngFor="let note of notes">
              {{ note.children[0] }}
            </p>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" type="submit" [disabled]="!group.dirty">Submit</button>
          <button class="btn btn-sm btn-link" type="button" (click)="copySource()">Copy source</button>
          <button class="btn btn-sm btn-link" type="button" (click)="resetForm()" [disabled]="!group.dirty">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
