<div class="content-container">
  <clr-vertical-nav>
    <app-translation-navigation
      [translations]="toTranslate$ | async"
      title="To translate"
    ></app-translation-navigation>
    <app-translation-navigation
      [translations]="translated$ | async"
      title="Translated"
    ></app-translation-navigation>
  </clr-vertical-nav>
  <div class="content-area">
    <h2 [title]="filePath">{{ filePath | endOfString:50 }}</h2>
    <button type="button" class="btn" (click)="refresh()">Refresh</button>

    <app-translation-search
      (changed)="searched$.emit($event)"
    ></app-translation-search>

    <ng-container *ngFor="let file of translations.children">
      <app-translation-language
        [file]="file"
        (submitted)="onSave()"
      ></app-translation-language>
    </ng-container>
    <app-translation-list
      [translations]="toTranslate$ | async"
      title="To translate"
      (submitted)="onSave()"
    ></app-translation-list>
    <app-translation-list
      [translations]="translated$ | async"
      title="Translated"
      (submitted)="onSave()"
    ></app-translation-list>
  </div>
</div>
