<div class="content-container">
  <app-translation-navigation
    [toTranslate]="toTranslate$ | async"
    [translated]="translated$ | async"
  ></app-translation-navigation>
  <div class="content-area">
    <h2 [title]="filePath">{{ filePath | endOfString:50 }}</h2>
    <button type="button" class="btn" (click)="refresh()">Refresh</button>

    <app-translation-search
      (changed)="searched$.emit($event)"
    ></app-translation-search>

    <ng-container *ngIf="translations$ | async as translations">
      <app-translation-language
        *ngFor="let file of translations.children"
        [file]="file"
        (submitted)="onSave()"
      ></app-translation-language>
    </ng-container>
    <app-translation-list
      [translations]="toTranslate$ | async"
      title="To translate"
      (submitted)="onSave()"
    ></app-translation-list>
    <app-translation-list
      [translations]="translated$ | async"
      title="Translated"
      (submitted)="onSave()"
    ></app-translation-list>
  </div>
</div>
