{
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "strict",
  "singleAttributePerLine": true,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "printWidth": 800
      }
    }
  ]
}
