/* You can add global styles to this file, and also import other style files */
:root {
  --clr-color-neutral-0: var(--vscode-editor-background);
  --clr-global-content-header-font-color: var(--vscode-editor-foreground);
  --clr-forms-text-color: var(--vscode-input-foreground);
  --clr-forms-label-color: var(--vscode-input-foreground);
  --clr-p1-color: var(--vscode-input-foreground);

  --clr-tooltip-color: var(--vscode-input-foreground);
  --clr-tooltip-background-color: var(--vscode-toolbar-activeBackground);

  --clr-card-box-shadow-color: transparent;
  --clr-card-border-color: var(--vscode-sideBarSectionHeader-border);
  --clr-color-neutral-400: var(--vscode-sideBarSectionHeader-border);

  --clr-btn-link-color: #007acc;

  --clr-btn-default-bg-color: var(--vscode-button-background);
  --clr-btn-default-color: var(--vscode-button-foreground);
  --clr-btn-default-hover-bg-color: var(--vscode-button-hoverBackground);

  --clr-btn-primary-disabled-color: var(--vscode-disabledForeground);
  --clr-btn-primary-disabled-border-color: var(--vscode-disabledForeground);
  --clr-btn-primary-disabled-bg-color: transparent;
  --clr-btn-primary-border-color: var(--vscode-button-background);
  --clr-btn-primary-bg-color: var(--vscode-button-background);
  --clr-btn-primary-color: var(--vscode-button-foreground);
  --clr-btn-primary-hover-bg-color: var(--vscode-button-hoverBackground);
  --clr-btn-primary-hover-color: var(--vscode-button-foreground);

  --clr-btn-default-outline-border-color: var(--vscode-button-background);
  --clr-btn-default-outline-bg-color: var(--vscode-button-background);
  --clr-btn-default-outline-color: var(--vscode-button-foreground);
  --clr-btn-default-outline-hover-bg-color: var(--vscode-button-hoverBackground);
  --clr-btn-default-outline-hover-color: var(--vscode-button-foreground);

  --clr-btn-success-outline-border-color: #3C8500;
  --clr-btn-success-outline-bg-color: #3C8500;
  --clr-btn-success-outline-color: var(--vscode-button-foreground);
  --clr-btn-success-outline-hover-bg-color: #4c9b0a;
  --clr-btn-success-outline-hover-color: var(--vscode-button-foreground);

  --clr-btn-danger-outline-disabled-color: var(--vscode-disabledForeground);
  --clr-btn-danger-outline-disabled-border-color: var(--vscode-disabledForeground);
  --clr-btn-danger-outline-disabled-bg-color: transparent;
  --clr-btn-danger-outline-border-color: #C21D00;
  --clr-btn-danger-outline-bg-color: #C21D00;
  --clr-btn-danger-outline-color: var(--vscode-button-foreground);
  --clr-btn-danger-outline-hover-bg-color: #d22b0e;
  --clr-btn-danger-outline-hover-color: var(--vscode-button-foreground);
  --clr-btn-danger-color: var(--vscode-button-foreground);
}
