<ng-container *ngIf="translations && translations.length > 0; else noTranslation">
  <h2>{{ listTitle }} <span class="badge">{{ translations.length }}</span></h2>
  <app-translation
    *ngFor="let translation of translations"
    [id]="translation.$.id"
    [translation]="translation"
    (submitted)="submitted.emit()"
    [sourceLanguage]="sourceLanguage"
    [targetLanguage]="targetLanguage"
  ></app-translation>
</ng-container>
<ng-template #noTranslation>
  <h2>{{ listTitle }} <span class="badge">0</span></h2>
  No translation
</ng-template>
