<section class="sidenav-content">
  <div class="title">
    <h5 i18n="@@file-list.files">Files</h5>
    <span class="badge">{{ filePaths.length }}</span>
  </div>

  <clr-tree *ngIf="folderPath$ | async as folderPath">
    <clr-tree-node *clrRecursiveFor="let node of treeItems; getChildren: getChildren" [clrExpanded]="true">
      <ng-container *ngIf="node.children.length > 0; else isFile">
        <span title="{{ node.currentPath }}"><span class="codicon codicon-folder"></span> {{ node.currentId }}</span>
      </ng-container>
      <ng-template #isFile>
        <a routerLink="./{{ folderPath + '/' + node.currentPath | btoa }}" routerLinkActive="active" title="{{ node.currentPath }}"
          ><span class="codicon codicon-file"></span>{{ node.currentId }}</a
        >
      </ng-template>
    </clr-tree-node>
  </clr-tree>
</section>
