<h2 i18n="@@opener.open-title">Open a translation</h2>
<div class="drop-zone">
  <ng-container *ngIf="!dragover; else dragOnDrop">
    <ng-container i18n="@@opener.drap-and-drop"
      >Drap and drop *.xlf files or</ng-container
    >
    <button
      class="btn btn-sm"
      type="button"
      (click)="onOpenTranslation()"
      i18n="@@opener.browse"
    >
      click to browse
    </button>
  </ng-container>

  <ng-template #dragOnDrop>
    <ng-container i18n="@@opener.drop-here">Drop files Here</ng-container>
  </ng-template>
</div>
