<div class="content-container" *ngIf="translations$ | async as translations">
  <div class="content-area">
    <h2 [title]="filePath">{{ filePath | endOfString : 50 }}</h2>
    <div class="ui-header">
      <app-translation-search (changed)="searched$.emit($event)"></app-translation-search>
      <div>
        <button type="button" class="btn btn-success-outline" (click)="refresh()" i18n="@@translations.refresh">Refresh</button>
      </div>
    </div>

    <app-translation-language *ngFor="let file of translations.children" [file]="file" (submitted)="onSave()"></app-translation-language>
    <app-translation-list
      [translations]="toTranslate$ | async"
      [targetLanguage]="targetLanguage"
      i18n-listTitle="@@translations.to-translate"
      listTitle="To translate"
      (submitted)="onSave()"
    ></app-translation-list>
    <app-translation-list
      [translations]="translated$ | async"
      i18n-listTitle="@@translations.translated"
      listTitle="Translated"
      (submitted)="onSave()"
    ></app-translation-list>
  </div>
  <nav class="sidenav">
    <app-translation-navigation [toTranslate]="toTranslate$ | async" [translated]="translated$ | async"></app-translation-navigation>
  </nav>
</div>
