<clr-vertical-nav>
  <clr-vertical-nav-group routerLinkActive="active">
    <ng-container i18n="@@translation-navigation.to-translate-title">To translate</ng-container>
    <span class="badge">{{ toTranslate.length }}</span>

    <clr-vertical-nav-group-children *ngIf="toTranslate.length > 0; else noTranslation">
      <a
        clrVerticalNavLink
        *ngFor="let translation of toTranslate"
        href="#{{ translation.$.id }}"
      >{{ translation.$.id }}</a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group routerLinkActive="active">
    <ng-container i18n="@@translation-navigation.translated-title">Translated</ng-container>
    <span class="badge">{{ translated.length }}</span>

    <clr-vertical-nav-group-children *ngIf="translated.length > 0; else noTranslation">
      <a
        clrVerticalNavLink
        *ngFor="let translation of translated"
        href="#{{ translation.$.id }}"
      >{{ translation.$.id }}</a>
    </clr-vertical-nav-group-children>

  </clr-vertical-nav-group>
</clr-vertical-nav>

<ng-template #noTranslation>
  <clr-vertical-nav-group-children>
    <ng-container i18n="@@translation-navigation.no-translation">No translation</ng-container>
  </clr-vertical-nav-group-children>
</ng-template>
